/*! TokenLite - ICO Token Sale Dashboard by Softnio | @version v1.3.1 */
/*! ## WRITE YOUR OWN SYTLE AFTER FROM ADMIN PANEL */

#bg_panes {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.front_anim {
    z-index: 1000;
}

.bg_trans {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.grad_panel {
    background: radial-gradient(#56247B, #31104D);
}

/*

.token-balance-icon {
    flex-shrink: 0;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.token-balance-icon img {
    width: 80px;
}

.sales_state_div {
    min-width: 300px;
    text-align: center;
}


 */


/*.token-balance .lead {*/
/*    display: block !important;*/
/*    text-align: right;*/
/*}*/


/*

.token-balance-with-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-token .balance_title {
    display: inline-block;
    position: absolute;
    top: 28px;
    right: 20px;
    text-align: right;
    font-size: 18px;
}

.card-innr > .card-title {
    font-size: 18px;
}

.dashboard_card_title {
    font-size: 18px !important;
}

 */


/*
 * circle animation start
 */

.circle-animation {
    position: fixed;
    height: 700px;
    width: 700px;
    /*top:-110px;*/
    bottom: -250px;
    left: 50%;
    transform: translateX(-50%)
}

.circle-animation .ca {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(34, 59, 85, 0.15)
}

.circle-animation .ca-dot {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%
}

.circle-animation .ca-color-1 {
    background: #86cfff
}

.circle-animation .ca-color-2 {
    background: #859fff
}

.circle-animation .ca-color-3 {
    background: #93a6ba
}

.circle-animation-l1 {
    height: 100%;
    width: 100%;
    animation: rotatecw 78s linear infinite 0s
}

.circle-animation-l1-d1 {
    left: 23%;
    top: 6.35%
}

.circle-animation-l1-d2 {
    right: 23%;
    top: 6.35%
}

.circle-animation-l1-d3 {
    right: -7px;
    top: 50%
}

.circle-animation-l1-d4 {
    right: 23%;
    bottom: 6.35%
}

.circle-animation-l1-d5 {
    left: 23%;
    bottom: 6.35%
}

.circle-animation-l1-d6 {
    left: -7px;
    top: 50%
}

.circle-animation-l2 {
    height: 84.6%;
    width: 84.6%;
    border-radius: 50%;
    animation: rotateacw 66s linear infinite 0s
}

.circle-animation-l2-d1 {
    right: 4.9%;
    top: 25%
}

.circle-animation-l2-d2 {
    left: 42%;
    top: -.6%
}

.circle-animation-l2-d3 {
    left: -2px;
    top: 40%
}

.circle-animation-l2-d4 {
    left: 24%;
    bottom: 5.5%
}

.circle-animation-l2-d5 {
    right: 11.2%;
    bottom: 16%
}

.circle-animation-l3 {
    height: 69.2%;
    width: 69.2%;
    animation: rotatecw 54s linear infinite 0s
}

.circle-animation-l3-d1 {
    left: 7.6%;
    top: 20%
}

.circle-animation-l3-d2 {
    right: 24%;
    top: 5.2%
}

.circle-animation-l3-d3 {
    right: -3px;
    bottom: 39%
}

.circle-animation-l3-d4 {
    right: 37%;
    bottom: 0
}

.circle-animation-l3-d5 {
    left: 8.4%;
    bottom: 19%
}

@keyframes rotatecw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg)
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

@keyframes rotateacw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg)
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg)
    }
}

@media only screen and (max-width: 991px) {
    .circle-animation {
        transform: translateX(-50%) scale(0.9)
    }
}

@media only screen and (max-width: 767px) {
    .circle-animation {
        transform: translateX(-50%) scale(0.8);
        /*top:-170px*/
    }
}

/*
 * circle animation end
 */


/*
 * background shape start
 */

.background-shape {
    background: rgba(0, 52, 86, 0.03);
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
    left: 50%;
    transform: skewX(33deg);
    transform-origin: left bottom
}

.background-shape:before, .background-shape:after {
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top: 0
}

.background-shape:before {
    left: 280px
}

.background-shape:after {
    left: 560px
}

.background-shape.bs-right {
    left: 70%
}

.background-shape.bs-reverse {
    right: 70%;
    left: auto;
    transform: skewX(-33deg);
    transform-origin: right bottom
}

.background-shape.bs-reverse:before {
    left: auto;
    right: 280px
}

.background-shape.bs-reverse:after {
    left: auto;
    right: 560px
}

.io-lungwort .background-shape {
    background: rgba(0, 0, 0, 0.03)
}

.io-lungwort .background-shape:before, .io-lungwort .background-shape:after {
    background: rgba(0, 0, 0, 0.05)
}

/*
 * background shape end
 */

/*
 * .auth_intro
 */
.auth_intro {
    display: block;
    position: relative;
    padding: 0px 50px;
}

.auth_intro h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0px;
}

.auth_intro .intro_img {
    transform: translateY(-40px);
}

@media only screen and (max-width: 1300px) {

    .auth_intro {
        margin-top: 20px;
    }

    .auth_intro h1 {
        font-size: 2em;
    }

    .auth_intro .intro_img {
        transform: translateY(-20px);
    }
}

@media only screen and (max-width: 850px) {
    .auth_intro h1 {
        font-size: 1em;
    }
    .auth_intro .intro_img {
        transform: translateY(-10px);
    }
}


