
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ff4539;
$orange: #f6993f;
$yellow: #ffec3a;
$green: #23c653;
$teal: #4dc0b5;
$cyan: #41a0fc;

$success-100: #d6fdd1;
$success-200: #a7f9a7;
$success-300: #78ed84;
$success-400: #54dc6e;
$success-500: #23c653;
$success-600: #1aaa52;
$success-700: #118d4e;

$pending-100: #d8f3fe;
$pending-200: #b2e4fd;
$pending-300: #8dd1fe;
$pending-400: #70befe;
$pending-500: #41a0fc;
$pending-600: #2f7cd8;
$pending-700: #205bb5;

$warning-100: #fffcd7;
$warning-200: #fff9af;
$warning-300: #fff589;
$warning-400: #fff16c;
$warning-500: #ffec3a;
$warning-600: #dbc72a;
$warning-700: #b6a41c;

$theme-colors: (
    "primary": #f6d558,
    "danger": #ff4539,
    //"secondary": #ff4136,
    "success": #23c653,
    "warning": #ffec3a,
    "info": #41a0fc,
    //"light": #ff4136,
    //"dark": #ff4136,
);

$danger-100: #FFE6D7;
$danger-200: #FFC9B1;
$danger-300: #FFA288;
$danger-400: #FF7F6A;
$danger-500: #FF4539;
$danger-600: #DB2A30;
$danger-700: #B81D2F;

